<app-navar-admin></app-navar-admin>
<div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-3">
            
            <div class="card card-inverse">
              <img class="card-img" src="http://www.hifreevideos.com/images/preview/Vintage-Movie-Theater-Wallpaper-Movie-theater-vintage-marquee-29469.jpg" alt="Card image" height="200" >
              <div class="card-img-overlay">
                <h4 class="card-title text-center">Bienvenido</h4>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item bg-primary text-white">Opciones</li>
              <li class="list-group-item"><a href="/altacontenidoomdb">Alta Contenidio con OMDB</a></li>
              <li class="list-group-item"><a href="/altaepisodio">Alta Episodios de Series</a></li>
              <li class="list-group-item"><a href="/altaevento">Alta Contenido En Vivo</a></li>
              <li class="list-group-item"><a href="/altacontenidodestacado">Alta Contenido Destacado</a></li>
              <li class="list-group-item"><a href="#">Reportes</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-8">
            <br>
            <h4>Mi contenido</h4>
            <table class="table table-striped table-hover">
            <thead class="bg-primary text-white">
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody *ngFor="let c of contenidos">
              <tr>
                <th scope="row">#</th>
                <td>{{c.id}}</td>
                <td>{{c.Title}}</td>
                <td>{{c.tipoContenido}}</td>
              </tr>
              
            </tbody>
          </table>
          <br>
          
  </div>
</div>
</div>
