<div class="container">
    <br>
    <h3 class="text-center">Alta Empresa</h3>
    <form #altaempresaForm="ngForm" (ngSubmit)="Altaempresa(altaempresaForm)">
        <br>
        <br>
        <div >
          <div class="text-center" >
              <div class="row">
                  <div class="col-sm-12 col-lg-3">
                      
                  </div>
                  <div class="form-group col-6">
                    <label for="exampleInputEmail1">Nombre Empresa</label>
                    <input name="nombreEmpresa" type="text" class="form-control" id="email"  placeholder="" ngModel>
                    
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-lg-3">
                      
                    
                  </div>
                                    
              </div>  
          </div>
        
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                
            </div>
          <div class="form-group">
              <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Altaempresa">
              </div>
          </div>
        </div>
      </form>
      <br>
      <br>
      <br>
</div>  