<div *ngIf="cargo">
    <div class="container">
    <h1 *ngIf="destacadoIndex > 0">Destacado del mes</h1>
  <ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
    <ngx-item NgxCarouselItem *ngFor="let d of destacado; let i = index;">
        <div class="bannerStyle">
            <img src="{{d.Poster}}">
            
        </div>
    </ngx-item>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
</ngx-carousel>
<br>
<br>
<div class="row">
    <div class="col-2">
        <select #opcion class="form-control form-control-lg">
            <option>Pelicula</option>
            <option>Serie</option>
            <option>Evento</option>
        </select>       
    </div>
    <div class="col-10 input-group">
        <input #texto placeholder="Buscar" type="texte" class="form-control form-control-lg" aria-label="Text input with dropdown button">
        <span class="input-group-btn">
            <button (click)="search()" class="btn btn-primary" type="button">Buscar<i class="ion-search"></i>
            </button>
        </span>
    </div>
</div>
    <br>
    <h2>Recomendados</h2>
    <ngx-carousel [inputs]="carouselTileTwo" (carouselLoad)="carouselTileTwoLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let content of data.content; let i = index;">
            <div class="wBg" *ngIf="content">
                <div class="tile">
                    <app-content  [content]="content" ></app-content>
                </div>
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
    <h2>Peliculas</h2>
    <ngx-carousel [inputs]="carouselTileTwo" (carouselLoad)="carouselTileTwoLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let peli of peliculas; let i = index;">
            <div class="wBg">
                <div class="tile">
                    <app-content  [content]="peli" ></app-content>
                </div>
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>

    <h2>Series</h2>
    <ngx-carousel [inputs]="carouselTileTwo" (carouselLoad)="carouselTileTwoLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let serie of series; let i = index;">
            <div class="wBg">
                <div class="tile">
                    <app-serie  [content]="serie" ></app-serie>
                </div>
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>

    <h2>Eventos</h2>
    <ngx-carousel [inputs]="carouselTileTwo" (carouselLoad)="carouselTileTwoLoad()">
        <ngx-tile NgxCarouselItem *ngFor="let evento of eventos.content; let i = index;">
            <div class="wBg">
                <div class="tile">
                    <app-content-evento [content]="evento"></app-content-evento>
                </div>
            </div>
        </ngx-tile>
        <button NgxCarouselPrev class="leftRs">&lt;</button>
        <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
</div>