<div class="card">
  <img class="card-img-top img-fluid" src="{{content.img}}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{content.title}}}</h4>
    <p class="card-text">{{content.descrip}}</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="https://assets.mubi.com/images/notebook/post_images/22621/images-w1400.jpg?1481167057" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title that wraps to a new line</h4>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="https://i.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-poster-classic-movies-posters.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title that wraps to a new line</h4>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="https://www.heyuguys.com/images/2017/03/Pirates-of-the-Caribbean-5-Movie-Poster.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title that wraps to a new line</h4>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="https://images-na.ssl-images-amazon.com/images/M/MV5BN2YyZjQ0NTEtNzU5MS00NGZkLTg0MTEtYzJmMWY3MWRhZjM2XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_UY1200_CR90,0,630,1200_AL_.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title that wraps to a new line</h4>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>

<div class="card">
  <img class="card-img-top img-fluid" src="http://images6.fanpop.com/image/photos/34200000/THOR-THE-DARK-WORLD-Movie-Poster-thor-34278279-338-500.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title that wraps to a new line</h4>
    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>