<div ng-controller="HomeCtrl as controller" class="videogular-container">
    <vg-player  (onPlayerReady)="onPlayerReady($event)">
        <vg-buffering *ngIf="this.currentIndex != 0"></vg-buffering>

        <vg-controls *ngIf="this.currentIndex != 0">
            <vg-play-pause></vg-play-pause>

            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>

            <vg-time-display *ngIf="this.currentIndex != 0" vgProperty="total" vgFormat="mm:ss"></vg-time-display>

            <vg-mute></vg-mute>
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video  #media
               [vgMedia]="media"
               [src]="currentItem.src"
               id="singleVideo"
               preload="auto"
               crossorigin>
        </video>
    </vg-player>

    <!--<ul>
        <li *ngFor="let item of playlist; let $index = index"
            (click)="onClickPlaylistItem(item, $index)"
            [class.selected]="item === currentItem">
            <strong style="color: white">{{ item.title }}</strong>
        </li>
    </ul>-->
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <label for="exampleInputEmail1">Episodios:</label>
        <select class="form-control" [ngModel]="episodios" #e (change)="onClickPlaylistItem(e.value)">
            <option *ngFor='let episodio of playlist; let i = index' [value]="episodio.index">
                {{ episodio.title }}
        </option>
        </select>
    </div>
    <div class="col-4"></div>
</div>
