<div>
<vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>

    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="media" 
    id="singleVideo" 
    preload="auto" crossorigin>
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>
</vg-player>
<button (click)="startTime()">Play</button>
</div>