  <div class="container" style="background-color: #455A64;">
    <div class="card-columns">
      <app-cat *ngFor="let content of contents" [content]="content">
      </app-cat>
    </div>
    
    <div class="row"> 
        <div class="col-sm-12 col-lg-2"></div>  
        <div class="form-group col-6">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li *ngIf="!iniciob" (click)="anterior()" class="page-item"><a><img src="./assets/leftArrow.png"></a></li>
            <li *ngIf="!iniciob" (click)="inicio()" class="page-item"><a><img src="./assets/Inicio.png"></a></li>
            <li (click)="siguiente()" class="page-item"><a><img src="./assets/rightArrow.png"></a></li>
          </ul>
        </nav>
      </div>
      </div>
  </div>

  <ng-template #contentModal>
    <div class="modal-header">
      <h4>Titulo</h4>  
    </div>
    <div class="modal-body">
        <h4>Titulo</h4>  
    </div>
    <div class="modal-footer">
        <h4>Titulo</h4>  
      </div>
  </ng-template>