<app-navar-super-admin></app-navar-super-admin>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card card-inverse">
        <img class="card-img" src="http://www.hifreevideos.com/images/preview/Vintage-Movie-Theater-Wallpaper-Movie-theater-vintage-marquee-29469.jpg" alt="Card image" height="200" >
        <div class="card-img-overlay">
          <h4 class="card-title text-center">Bienvenido</h4>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-primary text-white">Opciones</li>
        <li class="list-group-item"><a href="/rsausutotales">Cantidad de usuarios</a></li>
        <li class="list-group-item"><a href="/rsacantusuhabilit">Cantidad de usuarios habilitados</a></li>
        <li class="list-group-item"><a href="/rsahorastotvis">Horas totales visualizadas</a></li>
        <li class="list-group-item"><a href="/rsaprovcant">Proveedor Cantidad</a></li>
        <li class="list-group-item"><a href="/rsaprovcanthoras">Proveedor cantidad horas</a></li>
        <li class="list-group-item"><a href="/rsahorasxdia">Horas vistas por día</a></li>
        <li class="list-group-item"><a href="/rsahorasxsemana">Horas vistas por semana</a></li>
        <li class="list-group-item"><a href="/rsahorasxmes">Horas vistas por mes</a></li>
        <li class="list-group-item"><a href="/rsahorasxanio">Horas vistas por anio</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-8">
      <br>
      <div class="container">
          <br>
          <h3 class="text-center">Reportes Super Admin</h3>

          <div style="display: block">
            <canvas id="myChart" width="400" height="400" baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
            <br>
            <br>
            <br>
      </div>      
    </div>
  </div>
</div>

    
    
 