<app-navar-super-admin></app-navar-super-admin>
<div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-3">
            
            <div class="card card-inverse">
              <img class="card-img" src="http://www.hifreevideos.com/images/preview/Vintage-Movie-Theater-Wallpaper-Movie-theater-vintage-marquee-29469.jpg" alt="Card image" height="200" >
              <div class="card-img-overlay">
                <h4 class="card-title text-center">Bienvenido</h4>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item bg-primary text-white">Opciones</li>
              <li class="list-group-item"><a href="/altaempresa">Alta Empresa</a></li>
              <li class="list-group-item"><a href="/altaadmin">Alta Admin</a></li>
              <li class="list-group-item"><a href="/altaactor">Alta Actor</a></li>
              <li class="list-group-item"><a href="/altadirector">Alta Director</a></li>
              <li class="list-group-item"><a href="/altacategoria">Alta Categoria</a></li>
              <li class="list-group-item"><a href="/bloqueo-contenido">Bloqueo contenido</a></li>
              <li class="list-group-item"><a href="/bloqueo-usuario">Bloqueo Cliente</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-8">
            <br>
            <h4>Proveedores de contenido</h4>
            <table class="table table-striped table-hover">
            <thead class="bg-primary text-white">
              <tr>
                <th>#</th>
                <th>Empresa</th>
                <th>Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of empresas">
                    <th scope="row">#</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.id}}</td>
                  </tr>
            </tbody>
          </table>
          <br>
          </div>
        </div>
        </div>
