<app-navar-super-admin></app-navar-super-admin>
<div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-3">
            
            <div class="card card-inverse">
              <img class="card-img" src="http://www.hifreevideos.com/images/preview/Vintage-Movie-Theater-Wallpaper-Movie-theater-vintage-marquee-29469.jpg" alt="Card image" height="200" >
              <div class="card-img-overlay">
                <h4 class="card-title text-center">Bienvenido</h4>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item bg-primary text-white">Opciones</li>
              <li class="list-group-item"><a href="/altaempresa">Alta Empresa</a></li>
              <li class="list-group-item"><a href="/altaadmin">Alta Admin</a></li>
              <li class="list-group-item"><a href="#">Alta Tipo Contenido</a></li>
              <li class="list-group-item"><a href="/altaactor">Alta Actor</a></li>
              <li class="list-group-item"><a href="/altadirector">Alta Director</a></li>
              <li class="list-group-item"><a href="/altacategoria">Alta Categoria</a></li>
              <li class="list-group-item"><a href="#">Bloqueo contenido</a></li>
              <li class="list-group-item"><a href="#">Bloqueo Cliente</a></li>
              <li class="list-group-item"><a href="#">Baja Empresa</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-8">
            <br>
            <h4>Mi contenido</h4>
            <table class="table table-striped table-hover">
            <thead class="bg-primary text-white">
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          <br>
          <h4>Mis pagos</h4>
          <table class="table table-striped table-hover ">
            <thead class="bg-primary text-white">
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        </div>
