<div *ngIf="content">
<div *ngIf="content.Poster !== 'N/A'">
  <div class="card">
    <div *ngIf="content.path !== ''; then boton else fotito"></div>
    <ng-template #boton>
      <button (click)="onSelected(content)"><img class="card-img-top img-fluid"  src="{{content.Poster}}" alt="Card image cap"></button>
      <div class="card-block">
      <h6 class="card-title">{{content.Title}}</h6>
      <p class="card-text">{{content.descipcion}}</p>
      <button class="btn btn-primary" ceiboShare  [facebook]="{u: repoUrl}">F</button>
      <button class="btn btn-danger" ceiboShare  [googlePlus]="{url: repoUrl}">G+</button>
    </div>
    </ng-template>
    <ng-template #fotito>
    </ng-template>
  </div>
</div>
</div>