<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li (click)="anterior()" class="page-item"><a class="page-link" >Pagina Anterior</a></li>
    </ul>
</nav>
<div ng-controller="HomeCtrl as controller" class="videogular-container">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
<!--      <vg-overlay-play></vg-overlay-play>
        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <h3 style="color: white">{{ titulo }}</h3>
            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
-->
        <video #media [vgMedia]="media" 
            id="singleVideo" 
            preload="auto" controls="style" width="100%">
            <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
        </video>
    </vg-player>
</div>