<app-navar-admin></app-navar-admin>


<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card card-inverse">
        <img class="card-img" src="http://www.hifreevideos.com/images/preview/Vintage-Movie-Theater-Wallpaper-Movie-theater-vintage-marquee-29469.jpg" alt="Card image" height="200" >
        <div class="card-img-overlay">
          <h4 class="card-title text-center">Bienvenido</h4>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item bg-primary text-white">Opciones</li>
        <li class="list-group-item"><a href="/ruhorastot">Horas totales perdidas</a></li>
        <li class="list-group-item"><a href="/ruhorascat">Horas por categoria</a></li>
        <li class="list-group-item"><a href="/rucontfavnvisto">Contenido favorito no visto</a></li>
        <li class="list-group-item"><a href="/rucontmpnvisto">Contenido mejor puntuado no visto</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-8">
      <br>
      <div class="container">
          <br>
          <h3 class="text-center">Reportes Usuarios</h3>
            <br>
            <br>
            <br>
      </div>      
    </div>
  </div>
</div>

    
    
 