<app-navar-super-admin></app-navar-super-admin>
<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        
        <div class="card card-inverse">
          <img class="card-img" src="http://www.hifreevideos.com/images/preview/Vintage-Movie-Theater-Wallpaper-Movie-theater-vintage-marquee-29469.jpg" alt="Card image" height="200" >
          <div class="card-img-overlay">
            <h4 class="card-title text-center">Bienvenido</h4>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item bg-primary text-white">Opciones</li>
          <li class="list-group-item"><a href="/altacontenidoomdb">Alta Contenido con OMDB</a></li>
          <li class="list-group-item"><a href="/altaepisodio">Alta Episodios de Series</a></li>
          <li class="list-group-item"><a href="/altaevento">Alta Contenido EnVivo</a></li>
          <li class="list-group-item"><a href="#">Reportes</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-8">
        <br>
        <div class="container">
            <br>
            <h3 class="text-center">Alta Contenido</h3>
            <br>
            <div class="text-center" >

                <div class="row">
                  <div class="col-sm-12 col-lg-3">
                      
                  </div>  
                  <div class="form-group col-6">
                    <label for="exampleInputEmail1">Tipo Contenido:</label>
                    <select class="custom-select" (click)="onEventClick($event.target.value)">
                      <option selected>Seleccionar Tipo de contenido</option>
                      <option value="1">Pelicula</option>
                      <option value="2">Serie</option>
                    </select>
                  </div>
                </div>
                  <br>
                  <div *ngIf="isPelicula || isSerie" class="row">
                      <div class="col-sm-12 col-lg-3">
                          
                      </div>
                      <div class="form-group col-6">
                        <label for="exampleInputEmail1">Buscar en OMBD:</label>
                        <input type="text" class="form-control" (input)="onSearchChange($event.target.value)">
                      </div>
                
            </div>
                <label *ngIf="!isLoading"  for="exampleSelect2">Lista de peliculas</label>
                <select *ngIf="!isLoading" [(ngModel)]="chosenOption" multiple class="form-control" id="exampleSelect2">
                  <option *ngFor='let item of item' [value]="item" (click)="print()">{{item.Title}}</option>
                </select>
            </div>
            <div *ngIf="!isLoading" >
              <div  class="row">
                  <div class="form-group col-3">
                  </div>  
                <div class="form-group col-6">
                  <label for="exampleInputNombre">Titulo</label>
                  <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="{{ titulo }}" ngModel>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                </div>  
              <div class="form-group col-6">
                <label for="exampleInputNombre">Año</label>
                <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="{{ anio }}" ngModel>
              </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                </div>  
              <div class="form-group col-6">
                <label for="exampleInputNombre">Poster</label>
                <div class="text-center">
                  <img src="{{img}}" class="rounded" alt="300">
                </div>
              </div>
              </div>
              <div *ngIf="!isSerie">
              <label for="exampleInputNombre">Cargar Video</label>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input (change)="onFileChange($event)" #fileInput type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Asegurese de elegir un formato de video.</small>
              </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-lg-3">
                      
                  </div>  
                  <div class="form-group col-6">
                    <label for="exampleInputEmail1">Contenido destacado</label>
                    <select class="custom-select" (click)="onEventDestacado($event.target.value)">
                      <option selected>Seleccionar Si o No</option>
                      <option value="1">Si</option>
                      <option value="2">No</option>
                      
                    </select>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-3">
                        
                    </div>  
                <div class="form-group col-6">
                  <label for="exampleInputEmail1">Contenido Pago</label>
                  <select class="custom-select" (click)="onEventPago($event.target.value)">
                    <option selected>Seleccionar Si o No</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                  </select>
                </div>
                <div *ngIf="esPago" class="form-group col-6">
                  <label for="exampleInputNombre">Precio</label>
                  <input (input)="setPrecio($event.target.value)"  name="precio" type="text" class="form-control" id="precio" aria-describedby="nombreHelp" placeholder="$0.0" ngModel>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-3">
                </div>  
              <div class="form-group col-6">
                  <button *ngIf="isUploadFirebase || isSerie" type="submit" class="btn btn-success btn-lg btn-block" (click)="alta()">Dar de alta</button>
              </div>
            </div>
            
            
        </div>  
        <div *ngIf="isEvento">
            <div class="row">
                <div class="col-sm-12 col-lg-3">
                </div>  
                <div class="form-group col-6">
                  <label for="exampleInputEmail1">Tipo Evento:</label>
                  <select class="custom-select" (click)="onEventSelect($event.target.value)">
                    <option selected>Seleccionar Tipo de contenido</option>
                    <option value="1">Espectaculo</option>
                    <option value="2">Deportivo</option>
                  </select>
                </div>
              </div>
          <div class="row">
            <div class="form-group col-3">
            </div>  
          <div class="form-group col-6">
            <label for="exampleInputNombre">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="Nombre" ngModel>
          </div>
          </div>

          <div class="row">
            <div class="form-group col-3">
            </div>  
          <div class="form-group col-6">
            <label for="exampleInputNombre">Descripcion</label>
            <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" placeholder="Descripcion" ngModel>
          </div>
          </div>
          <label for="exampleInputNombre">Cargar Video</label>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="61" aria-valuemin="0" aria-valuemax="100">{{progreso}}%</div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input (change)="onFileChange($event)" #fileInput type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Asegurese de elegir un formato de video.</small>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-3">
                
            </div>  
            <div class="form-group col-6">
              <label for="exampleInputEmail1">Contenido destacado</label>
              <select class="custom-select" (click)="onEventDestacado($event.target.value)">
                <option selected>Seleccionar Si o No</option>
                <option value="1">Si</option>
                <option value="2">No</option>
                
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-3">
            </div>  
          <div class="form-group col-6">
              <button *ngIf="isUploadFirebase || isSerie" type="submit" class="btn btn-success btn-lg btn-block" (click)="alta()">Dar de alta</button>
          </div>
        </div>
        </div>
      
      </div>
    </div>
    </div>

